.service {
    border: 1px solid black;
    margin: 5px;
}

.selected {
    background-color: #4b5563;
    color: white;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
    color: darkolivegreen;
}
