body {
    background-color: #909090;
}

.service {
    border: 1px solid black;
    margin: 1px;
}

.selected {
    background-color: #4b5563;
    color: white;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 12px;
    color: darkolivegreen;
}

.custom-style {
    color: red;
}

.custom-label {
    font-size: 1.5rem;
    color: #9ca3af;
}

.order-item {
    cursor: pointer;
}

.order-item:hover {
    background-color: #4b5563;
    color: white;
    cursor: pointer;
}

.order-item:active {
    background-color: red;
    color: white;
}

.order-item {
    margin: 0;
    padding: 0;
}

.p {
    margin: 0;
}

textarea {
    resize: vertical ;
    overflow: auto;
    min-height: 50px;
    height: auto;
}

.h1 {

}
